<h1>Artist Index Page</h1>
<% @artists.each do |artist| %>
    <p><%= link_to artist.name, artist_path(artist.id) %></p>
    <p><%= artist.song_count %> song</p>
    <% artist.songs.each do |song| %>
      <ul>
        <li><%= link_to song.title, song_path(song.id) %></li> 
      </ul>
    <% end %>

<% end %>